.padding-0{ 
    padding-right:0; 
    padding-left:0; 
} 
.gris{
    background: #b4030365;
    
}
.top-nav-collapse{
    background: rgba(0, 0, 0, 0.568);
    
}
.linea{
	background-color: rgb(255, 255, 255);
  }
   



